.car-display {
  // @include flex-center(column);
  border: 3px solid black;

  img {
    display: block;
    width: 100%;
    // height: 15rem;
    object-fit: contain;
  }
  &__title {
    color: $color-title;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
  }
}