.car-display {
  @include flex-center(column);
  margin: 4.5rem 2rem 0;

  &__img {
    display: block;
    width: 100%;
    height: 15rem;
    // z-index: -1;
    // margin: -2rem 0;
    object-fit: contain;
  }
  &__title {
    color: $title-color;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
  }
}

.car-select {
  display: grid;
  padding: 2rem 2rem;
  margin-bottom: 5rem;
  overflow-x: scroll;
  grid-auto-columns: 13rem;
  grid-auto-flow: column;
  gap: 0.25rem;
  grid-template-rows: repeat(2, minmax(0, 9rem));

  &__card {
    cursor: pointer;
    width: 100%;
    border-width: 0rem;
    // border-width: 0.3rem;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(68.3deg, rgba(245, 177, 97, 1) 0.4%, rgba(236, 54, 110, 1) 100.2%);
    // border-radius: 0.225rem;
    padding: 0.25rem;
    background-color: white;
    // box-shadow: $main-shadow;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);

    &:hover {
      border-width: 0.3rem;
    }

    &-inner {
      border: 0.3rem solid #399bca;
      height: 100%;
      border-radius: 0.225rem;
      text-transform: uppercase;

      &-title {
        background-color: $bg-gray;
        padding: 0.2rem 0;
        text-align: center;

        &__name {
          color: $title-color;
          font-size: 0.95rem;
          font-weight: 700;
        }
        &__year {
          color: #555454;
          font-size: 0.9rem;
          font-weight: 500;
        }
      }
      &-img {
        display: block;
        width: 100%;
        margin-top: -2rem;
        // height: 7rem;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

.card-clicked {
  border-width: 0.3rem !important;
  transform:scale(1.1);
  -webkit-transform:scale(1.1);
}