.main__register {
    @include flex-center(column);

    &__wrapper {
        @extend .card-main;
        @include flex-center(column);
        padding: 2rem;
        width: 20rem;
        min-height: 25rem;

        &-logo {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 0.5rem;
        }

        &-signin {
            font-size: 1.4rem;
            margin-bottom: 0.5rem;
        }

        &-continue {
            margin-bottom: 1rem;
        }

        .register__form {
            @extend .form-main;
        }
    }
}