<div class="avatar-select__card">
    <div class="avatar-select__card-inner">
        <img class="avatar-select__card-inner-img" src="/assets/image/avatar/avatar1.png" />
    </div>
</div>
<div class="avatar-select__card">
    <div class="avatar-select__card-inner">
        <img class="avatar-select__card-inner-img" src="/assets/image/avatar/avatar2.png" />
    </div>
</div>
<div class="avatar-select__card">
    <div class="avatar-select__card-inner">
        <img class="avatar-select__card-inner-img" src="/assets/image/avatar/avatar3.png" />
    </div>
</div>
<div class="avatar-select__card">
    <div class="avatar-select__card-inner">
        <img class="avatar-select__card-inner-img" src="/assets/image/avatar/avatar4.png" />
    </div>
</div>
<div class="avatar-select__card">
    <div class="avatar-select__card-inner">
        <img class="avatar-select__card-inner-img" src="/assets/image/avatar/avatar5.png" />
    </div>
</div>
<div class="avatar-select__card">
    <div class="avatar-select__card-inner">
        <img class="avatar-select__card-inner-img" src="/assets/image/avatar/avatar6.png" />
    </div>
</div>
<div class="avatar-select__card">
    <div class="avatar-select__card-inner">
        <img class="avatar-select__card-inner-img" src="/assets/image/avatar/avatar7.png" />
    </div>
</div>