<div class="car-select__card">
    <div class="car-select__card-inner">
        <div class="car-select__card-inner-title">
            <p class="car-select__card-inner-title__name"><%= props.name %></p>
            <p class="car-select__card-inner-title__year"><%= `${props.year} ${props.brand}` %></p>
        </div>
        <img class="car-select__card-inner-img" src="<%= '/assets/image/' + props.image %>" />
    </div>
</div>