<div class="card cursor-pointer" onclick="window.location='/article/2'">
    <img src="<%= '/image/' + props.image %>" class="card-img-top d-block w-100" alt="...">
    <div class="card-body">
        <hr class="hr-main">
        <h5 class="text-center card-title"><%= props.title %></h5>
        <p class="text-center card-text"><%= props.description %></p>
    </div>
</div>