<div class="product-card__container">
    <div class="product-card__detail">
        <!-- TODO: On click ke detail + kirim propsnya juga -->
        <button class="product-card__detail-button">Detail</button>
    </div>
    <img class="product-card__img" src="<%= '/image/product/' + props.image %>" />
    <p class="product-card__name"><%= props.title %></p>
</div>