<div class="user-panel">
    <img class="user-panel__notification" src="/assets/image/bell.svg" />
    <div class="profile-wrapper">
        <div class="profile-wrapper__name">USER_NAME</div>
        <img class="profile-wrapper__img" src="/assets/image/about.png" />
        <button id="logout" class="btn-logout">Log Out</button>
    </div>
</div>