<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Alvin Blog</title>

  <link rel="icon" type="image/x-icon" href="/image/favicon.ico">

  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="./assets/scss/style.css" />
</head>

<body>
  <nav>
    <div class="navbar">
      <div class="navbar__profile">
        <div class="navbar__profile-wrapper">
          <img class="navbar__profile-wrapper-img" src="./assets/image/about.png" />
          <div class="navbar__profile-wrapper-level">33</div>
          <div class="navbar__profile-wrapper-name">Alvin Naufal</div>
        </div>
      </div>
      <div class="navbar__cr">
        <div class="navbar__cr-logo">CR</div>
        <div class="navbar__cr-credit">9,999,999</div>
      </div>
    </div>
  </nav>
  <main>
    <section class="car-display">
      <img class="car-display__img" src="./assets/image/car1.png" />
      <p class="car-display__title">Bentley 8-Liter</p>
    </section>
    <section class="car-select">
      <div class="car-select__card">
        <div class="car-select__card-inner">
          <div class="car-select__card-inner-title">
            <p class="car-select__card-inner-title__name">Bentley 8-Liter</p>
            <p class="car-select__card-inner-title__year">1980 Bentley</p>
          </div>
          <img class="car-select__card-inner-img" src="./assets/image/car1.png" />
        </div>
      </div>
      <div class="car-select__card">
        <div class="car-select__card-inner">
          <div class="car-select__card-inner-title">
            <p class="car-select__card-inner-title__name">BMW Isetta 300</p>
            <p class="car-select__card-inner-title__year">1980 as</p>
          </div>
          <img class="car-select__card-inner-img" src="./assets/image/car2.png" />
        </div>
      </div>
      <div class="car-select__card">
        <div class="car-select__card-inner">
          <div class="car-select__card-inner-title">
            <p class="car-select__card-inner-title__name">Dodge Charger</p>
            <p class="car-select__card-inner-title__year">1970 Dodge</p>
          </div>
          <img class="car-select__card-inner-img" src="./assets/image/car3.png" />
        </div>
      </div>
      <div class="car-select__card">
        <div class="car-select__card-inner">
          <div class="car-select__card-inner-title">
            <p class="car-select__card-inner-title__name">Austin Seven</p>
            <p class="car-select__card-inner-title__year">1970 Austin Seven</p>
          </div>
          <img class="car-select__card-inner-img" src="./assets/image/car4.png" />
        </div>
      </div>
      <div class="car-select__card">
        <div class="car-select__card-inner">
          <div class="car-select__card-inner-title">
            <p class="car-select__card-inner-title__name">Auto Union Type D</p>
            <p class="car-select__card-inner-title__year">1970 Auto Union</p>
          </div>
          <img class="car-select__card-inner-img" src="./assets/image/car5.png" />
        </div>
      </div>
      <div class="car-select__card">
        <div class="car-select__card-inner">
          <div class="car-select__card-inner-title">
            <p class="car-select__card-inner-title__name">Jaguar E-type S1</p>
            <p class="car-select__card-inner-title__year">1970 Jaguar</p>
          </div>
          <img class="car-select__card-inner-img" src="./assets/image/car6.png" />
        </div>
      </div>
      <div class="car-select__card">
        <div class="car-select__card-inner">
          <div class="car-select__card-inner-title">
            <p class="car-select__card-inner-title__name">Dodge Charger</p>
            <p class="car-select__card-inner-title__year">1970 Dodge</p>
          </div>
          <img class="car-select__card-inner-img" src="./assets/image/car3.png" />
        </div>
      </div>
      <div class="car-select__card">
        <div class="car-select__card-inner">
          <div class="car-select__card-inner-title">
            <p class="car-select__card-inner-title__name">Dodge Charger</p>
            <p class="car-select__card-inner-title__year">1970 Dodge</p>
          </div>
          <img class="car-select__card-inner-img" src="./assets/image/car3.png" />
        </div>
      </div>
      <div class="car-select__card">
        <div class="car-select__card-inner">
          <div class="car-select__card-inner-title">
            <p class="car-select__card-inner-title__name">Dodge Charger</p>
            <p class="car-select__card-inner-title__year">1970 Dodge</p>
          </div>
          <img class="car-select__card-inner-img" src="./assets/image/car3.png" />
        </div>
      </div>
      <div class="car-select__card">
        <div class="car-select__card-inner">
          <div class="car-select__card-inner-title">
            <p class="car-select__card-inner-title__name">Dodge Charger</p>
            <p class="car-select__card-inner-title__year">1970 Dodge</p>
          </div>
          <img class="car-select__card-inner-img" src="./assets/image/car3.png" />
        </div>
      </div>
      <div class="car-select__card">
        <div class="car-select__card-inner">
          <div class="car-select__card-inner-title">
            <p class="car-select__card-inner-title__name">Dodge Charger</p>
            <p class="car-select__card-inner-title__year">1970 Dodge</p>
          </div>
          <img class="car-select__card-inner-img" src="./assets/image/car3.png" />
        </div>
      </div>
      <div class="car-select__card">
        <div class="car-select__card-inner">
          <div class="car-select__card-inner-title">
            <p class="car-select__card-inner-title__name">Dodge Charger</p>
            <p class="car-select__card-inner-title__year">1970 Dodge</p>
          </div>
          <img class="car-select__card-inner-img" src="./assets/image/car3.png" />
        </div>
      </div>
      <div class="car-select__card">
        <div class="car-select__card-inner">
          <div class="car-select__card-inner-title">
            <p class="car-select__card-inner-title__name">Dodge Charger</p>
            <p class="car-select__card-inner-title__year">1970 Dodge</p>
          </div>
          <img class="car-select__card-inner-img" src="./assets/image/car3.png" />
        </div>
      </div>
    </section>
  </main>
  <footer>
    <div class="footer">
      <div>
        <form action="#" method="POST">
          <input type="hidden" name="idcar" id="idcar" />
          <input type="submit" id="buy" value="BUY" />
        </form>
      </div>
      <button class="btn-home" onClick="window.location= '/'">
        <img class="btn-home__img" src="./assets/image/home.svg">
      </button>
      <button class="btn-home" onClick="window.location= '/garage'">
        <img class="btn-home__img" src="./assets/image/automobile.svg">
      </button>
    </div>
  </footer>

  <script src="./assets/js/script.js"></script>
</body>

</html>