html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Archivo Narrow', sans-serif !important;
    color: $text-color;
    padding: 0;
    margin: 0;
}

main {
    min-height: 100vh !important;
    margin-bottom: 8rem;
}

p {
    padding: 0;
    margin: 0;
}