<footer>
    <div class="footer">
        <div class="<%= props.isGarage!==undefined? 'hide' : '' %>">
            <form action="/api/v1/cars/redirect" method="POST">
                <input type="hidden" name="id" id="idcar" />
                <input type="submit" id="buy" value="BUY" />
            </form>
        </div>
        <button class="btn-home <%= props.isGarage!==undefined? '' : 'hide' %>" onClick="window.location= '/'">
            <img class="btn-home__img" src="/assets/image/home.svg">
        </button>
        <button class="btn-home <%= props.isGarage!==undefined? 'hide' : '' %>" onClick="window.location= '/garage'">
            <img class="btn-home__img" src="/assets/image/automobile.svg">
        </button>
    </div>
</footer>