<nav>
    <div class="navbar">
        <div class="navbar__profile">
            <div class="navbar__profile-wrapper">
                <img class="navbar__profile-wrapper-img" src="/assets/image/about.png" />
                <div class="navbar__profile-wrapper-level">33</div>
                <div class="navbar__profile-wrapper-name">Alvin Naufal</div>
            </div>
        </div>
        <div class="navbar__cr">
            <div class="navbar__cr-logo">CR</div>
            <div class="navbar__cr-credit">9,999,999</div>
        </div>
    </div>
</nav>