<nav class="navbar">
    <div class="navbar__brand">
        <div class="navbar__brand-title" onClick="window.location= '/'">Sekolahan.</div>
        <button id="nav-toggle" class="navbar__brand-toggle">
            <img class="navbar__brand-toggle-img" src="/assets/image/menu.svg">
        </button>
    </div>
    <hr class="navbar__separator" />
    <ul class="navbar__menu">
        <li class="navbar__menu-item">
            <div class="item__link <%= props.menu.home!==undefined? 'active-menu' : '' %>" onClick="window.location= '/'">
                <img src="/assets/image/home.svg" class="item__link__logo" />
                <div class="item__link__title">Home</div>
            </div>
        </li>
        <% if (props.user.roles==="ADMIN") { %>
        <li class="navbar__menu-item">
            <div class="item__link <%= props.menu.students!==undefined? 'active-menu' : '' %>" onClick="window.location= '/students'">
                <img src="/assets/image/user.svg" class="item__link__logo" />
                <div class="item__link__title">Students</div>
            </div>
        </li>
        <% } %>
        <li class="navbar__menu-item">
            <div class="item__link <%= props.menu.settings!==undefined? 'active-menu' : '' %>" onClick="window.location= '/settings'">
                <img src="/assets/image/settings.svg" class="item__link__logo" />
                <div class="item__link__title">Settings</div>
            </div>
        </li>
    </ul>
</nav>