@mixin flex-center($direction, $justify: true) {
    display: flex;
    flex-direction: $direction;
    @if $justify {
        justify-content: center;
    }
    align-items: center;
}

@mixin breakpoint($size) {
    @media (min-width: map-get($breakpoints, $size)) {
        @content;
    }
}

@mixin sidebar($direction, $justify) {
    @include flex-center($direction, $justify);
    position: fixed;
    background-color: white;
    z-index: 5;
    top: 0;
    left: 0;
    width: 15rem;
    height: 100%;
    padding: 0.5em 0;
}