@mixin flex-center($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin navigation($pos) {    
    position: fixed !important;
    z-index: 5;
    #{$pos}: 0;
    width: 100%;
    min-height: 4rem;
    color: white;
    background-color: black;
    padding: 0.5em 0;
}