$color-text: #211c1d !default;
$color-title: #111111 !default;
$color-gray: #edeef1 !default;

$bg-orange: #eb4f17 !default;
$bg-semi-white: #f8f8f8 !default;
$bg-gray: #ebebeb !default;
$bg-cash: #01b592 !default;

// 640px, 1024px, 1400px
$breakpoints: ("sm": "640px", "md": "768px", "lg": "1024px", "xl": "1280px", "2xl": "1536px", "3xl": "1920px") !default;

$rounded: 0.25rem !default;

$main-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1) !default;