<!-- TODO: Bikin kaya yg produk, data dari json -->
<main>
    <div class="detail-banner d-flex">
        <img class="detail-banner__img" src="/image/article1.png">
        <div class="card-body">
            <p class="text-center">The Articles</p>
            <p class="text-black card-text detail-banner__description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
                unchanged.
            </p>
        </div>
    </div>

    <div class="more-image">
        <p class="more-image__title text-center">More Images</p>
        <div class="more-image__wrapper container">
            <img src="/image/article3.png" class="more-image__img" />
            <img src="/image/article2.png" class="more-image__img" />
            <img src="/image/article3.png" class="more-image__img" />
            <img src="/image/article2.png" class="more-image__img" />
        </div>
    </div>

    <%- include('../components/about', {
        props: {
            isProduct: true
        }
    }); %>
    <div style="margin-bottom: 4rem;"></div>
</main>