<main>
    <%- include('../components/carDisplay'); %>
    <section class="car-select">
        <% props.data.map((el, index) => { %>
                <%- include('../components/cards/carCard', {
                        props: {
                            name: el.name,
                            image: el.image,
                            year: el.year,
                            brand: el.brand
                        }
                }); %>
        <% }) %>
    </section>
</main>