<main>
    <section class="car-display">
        <img class="car-display__img" src="/assets/image/car1.png" />
        <p class="car-display__title">Loading...</p>
    </section>
    <section class="car-select">
        <% props.data.map((el, index) => { %>
                <%- include('../components/cards/carCard', {
                        props: {
                            name: el.name,
                            image: el.image,
                            year: el.year,
                            brand: el.brand
                        }
                }); %>
        <% }) %>
    </section>
</main>