<main>
    <div class="header-banner <%= props.isProduct? 'header-product' : '' %>">
        <img class="header-banner__img" src="./image/product-bg.png" alt="header background" />
        <div class="header-banner__text">
            <p class="header-banner__title">All Products Here</p>
            <p class="header-banner__sub">We brings our best product to you</p>
        </div>
    </div>

    <div class="product-card">
        <p class="product-card__title text-center">Products</p>
        <div class="product-card__wrapper container">
            <% props.data.map((element, index) => { %>
                <%- include('../components/cards/productCard', {
                        props: {
                            title: element.title,
                            image: element.image
                        }
                    }); %>
            <% }) %>
        </div>
    </div>
</main>