<main class="form__auth">
    <div class="form__auth__wrapper">
        <p class="form__auth__wrapper-logo">Sekolahan.</p>
        <p class="form__auth__wrapper-signin">Register</p>
        <p class="form__auth__wrapper-continue">to continue to Sekolahan.</p>
        <form class="form-main" action="/api/v1/auth/register?redirect=true" method="POST">
            <input type="email" name="email" placeholder="Email" required />
            <input type="password" name="password" placeholder="Password" required />
            
            <hr class="separator" />
            
            <label for="lname">Name</label>
            <input type="text" name="name" id="lname" placeholder="Name..." required />
            
            <label for="lphone">Phone</label>
            <input type="text" name="phone" id="lphone" placeholder="Phone..." required />
            
            <label for="lavatar">Avatar</label>
            <input type="hidden" name="avatar" id="lavatar" />
            
            <section class="avatar-select">
                 <%- include('../components/cards/avatarCard'); %>
            </section>

            <label for="laddress">Address</label>
            <textarea id="laddress" name="address" rows="2" placeholder="Address..." required></textarea>

            <input type="submit" id="btn-submit" value="Register" />
        </form>
        <p class="form__auth__wrapper-register">Already have an account? <a href="/login">Login here!</a></p>
    </div>
</main>