.main-content {    
    &__inner {
        // max-width: 48rem;
        margin: 7rem auto 0;
        padding: 0 1.5rem;
    }

    // Responsive
    @include breakpoint(md) {
        padding-left: 15rem;
        margin: 2rem auto 0;
        &__inner {
            // max-width: 48rem;
            margin: 2rem auto 0;
        }
    }
}