.navbar {
    @include sidebar(row, true);
    background-color: white;
    padding: 1rem 1rem;
    width: 100%;
    height: auto;

    &__brand {
        @include flex-center(row, false);
        justify-content: space-between;
        padding: 0 2rem;
        width: 100%;

        &-title {
            @extend .cursor-pointer;
            font-size: 1.5rem;
            font-weight: 700;
        }
        &-toggle {
            @extend .btn-base;
            background-color: transparent;

            &-img {
                @extend .img-responsive;
                width: 1.5rem;
            }
        }
    }
    
    &__separator {
        @extend .separator;
        display: none;
    }
    &__menu {
        @extend .reset-list;
        @include flex-center(column, false);
        display: none;
        width: 100%;
        margin-top: 1rem;
        
        &-item {
            width: 100%;
            margin-bottom: 1rem;
            
            .item__link {
                @extend .cursor-pointer;
                @include flex-center(row, false);
                padding: 0.4rem 0.4rem;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
                }

                &__logo {
                    @extend .img-responsive;
                    width: 1.2rem;
                    color: black;
                    margin-right: 1rem;
                }
                &__title {
                    font-size: 1.2rem;
                    font-weight: 700;
                }
            }
        }
    }
    
    // Responsive
    @include breakpoint(md) {
        @include sidebar(column, false);
        justify-content: flex-start;

        &__brand {
            justify-content: flex-start;
            &-toggle {
                display: none;
            }
        }

        &__separator {
            display: block;
        }

        &__menu {
            display: block;
        }

        box-shadow: $main-shadow;
        padding: 1.5rem 1.5rem;
    }
}

.navbar__mobile {
    @include flex-center(column, false);

    .navbar__menu {
        display: block;
        // @include flex-center(column, true);
    }
}