html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Archivo Narrow', sans-serif !important;
  color: #211c1d;
  padding: 0;
  margin: 0;
}

main {
  min-height: 100vh !important;
  margin-bottom: 8rem;
}

p {
  padding: 0;
  margin: 0;
}

.btn-base, #buy, .button-menu__btn, .btn-home, .btn-logout, .navbar__brand-toggle {
  border: none;
  text-decoration: none;
}

#buy {
  background-color: #01b592;
  color: white;
  font-weight: 600;
  padding: 0.8rem 2rem;
  margin: 0.3rem 1rem;
  border-radius: 0.25rem;
}

.button-menu {
  margin: 0 0.5rem;
}

.button-menu:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
}

.button-menu__btn {
  background-color: black;
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  margin-right: 0.4rem;
  border: 0.1rem solid white;
  border-radius: 0.25rem;
}

.button-menu__description {
  letter-spacing: 0.025em;
}

.btn-home {
  background-color: white;
  padding: 0.3rem 0.4rem;
  border-radius: 9999px;
  margin: 0 0.4rem;
}

.btn-home__img {
  width: 1.3rem;
  height: 1.3rem;
}

.btn-logout {
  visibility: hidden;
  position: absolute;
  min-width: 9rem;
  left: 0;
  top: 3rem;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 0.3rem 0.4rem;
  border: 1px solid #edeef1;
  border-radius: 0.25rem;
  font-weight: 600;
  color: #ef5350;
}

.data-list .table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.data-list .table__head > tr > th {
  padding: 0.5rem 0.8rem;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 600;
  border-bottom: 2px solid #edeef1;
}

.data-list .table__body > tr:hover {
  background-color: #edeef1;
}

.data-list .table__body > tr > td {
  padding: 0.8rem 0.8rem;
  text-align: left;
  letter-spacing: 0.025em;
  border-bottom: 1px solid #edeef1;
}

.hide {
  display: none !important;
}

.uppercase, .button-menu__btn {
  text-transform: uppercase !important;
}

.cursor-pointer, .btn-base, #buy, .button-menu__btn, .btn-home, .btn-logout, .navbar__brand-toggle, .button-menu, .navbar__brand-title, .navbar__menu-item .item__link, .user-panel__notification, .user-panel .profile-wrapper {
  cursor: pointer !important;
}

.reset-list, .navbar__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.reset-link {
  text-decoration: none;
}

.img-responsive, .navbar__brand-toggle-img, .navbar__menu-item .item__link__logo, .user-panel__notification, .user-panel .profile-wrapper__img {
  display: block;
  width: 100%;
}

.active-menu {
  border-left: 2px solid #eb4f17;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background-color: white;
  z-index: 5;
  top: 0;
  left: 0;
  width: 15rem;
  height: 100%;
  padding: 0.5em 0;
  padding: 1rem 1rem;
  width: 100%;
  height: auto;
}

.navbar__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
}

.navbar__brand-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar__brand-toggle {
  background-color: transparent;
}

.navbar__brand-toggle-img {
  width: 1.5rem;
}

.navbar__separator {
  display: none;
  color: #edeef1;
  background-color: #edeef1;
  height: 1px;
  border: none;
  width: 100%;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  width: 100%;
  margin-top: 1rem;
}

.navbar__menu-item {
  width: 100%;
  margin-bottom: 1rem;
}

.navbar__menu-item .item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4rem 0.4rem;
}

.navbar__menu-item .item__link:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
}

.navbar__menu-item .item__link__logo {
  width: 1.2rem;
  color: black;
  margin-right: 1rem;
}

.navbar__menu-item .item__link__title {
  font-size: 1.2rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    background-color: white;
    z-index: 5;
    top: 0;
    left: 0;
    width: 15rem;
    height: 100%;
    padding: 0.5em 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 1.5rem;
  }
  .navbar__brand {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar__brand-toggle {
    display: none;
  }
  .navbar__separator {
    display: block;
  }
  .navbar__menu {
    display: block;
  }
}

.navbar__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__mobile .navbar__menu {
  display: block;
}

.user-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.user-panel__notification {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.user-panel .profile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-width: 10rem;
  padding: 0.3rem 0;
  flex-direction: row;
}

.user-panel .profile-wrapper:hover #logout {
  visibility: visible;
}

.user-panel .profile-wrapper__name {
  font-weight: 700;
  margin-right: 1rem;
}

.user-panel .profile-wrapper__img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
}

@media (min-width: 768px) {
  .user-panel {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.main-content__inner {
  margin: 7rem auto 0;
  padding: 0 1.5rem;
}

@media (min-width: 768px) {
  .main-content {
    padding-left: 15rem;
    margin: 2rem auto 0;
  }
  .main-content__inner {
    margin: 2rem auto 0;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 5;
  bottom: 0;
  width: 100%;
  min-height: 4rem;
  color: white;
  background-color: black;
  padding: 0.5em 0;
}

.car-display {
  border: 3px solid black;
}

.car-display img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.car-display__title {
  color: #111111;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 800;
}
/*# sourceMappingURL=style.css.map */